# Node.js specific files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
typings/

# Temporary files
dist/
build/
.cache/
*.lock

# TypeScript
*.tsbuildinfo

# Editor specific files
.idea/
.vscode/
.DS_Store

# Generated code from React Scripts
/build
/coverage
